
{%load static %}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<title> Easy Apply </title>
</head>

<body>
<br><br><br>
<link rel="stylesheet" type="text/css" href=" " >
<div class="w3-container w3-red">

<div class="userbox">
    <h2><center>JSC Info</center></h2>
	<div class="subdiv">
	<form action="" method="POST" >
       {%csrf_token%}
        <center>
	   <p>School Name
	   <input type="text" name="jname" placeholder="Enter your School Name"></p>

	   <p>GPA
	   <input type="text" name="gpa" placeholder="Enter GPA"></p>

	   <p>Board
	   <input type="text" name="board" placeholder="Enter Your Board"></p>

	   <p>Year
	   <input type="text" name="year" placeholder="Enter Year"></p>
        <br><br>

		<input class="submit" type="submit" name="" value="Submit" formaction="">
        </center>


	</form>
	</div>
</div>
</div>
</body>


</html>
