{% extends 'index.html' %}

{% block content %}
<center><h1><font color="#520419" >Welcome , {{user.username}}</font></h1></center>
 <p>Are you candidate or employer?
    </p>
<p>
    <a href="{% url 'user' %}" class="btn btn-primary">Candidate</a>
      <a href="{% url 'employer'%}" class="btn btn-primary">Employer</a>
      <a href="{% url 'circular'%}" class="btn btn-primary">Add Circular Info</a>
    <a href="{% url 'results' %}" class="btn btn-primary">Academic Information</a>


    </p>


{% endblock%}